@font-face {
    font-family: inconsolataRegular;
    src: 
        url('../fonts/inconsolata-regular-webfont.woff') format('woff2'),
        url('../fonts/inconsolata-regular-webfont.woff') format('woff'),
        url('../fonts/Inconsolata-Regular.tff') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: playfairDisplayRegular;
    src: 
        url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
        url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.tff') format('truetype');
        font-style: normal;
        font-weight: normal;
}

@font-face {
    font-family: playfairDisplayBlack;
    src: 
        url('../fonts/playfairdisplay-black-webfont.woff') format('woff2'),
        url('../fonts/playfairdisplay-black-webfont.woff2') format('woff'),
        url('../fonts/PlayfairDisplay-Black.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
}

@font-face {
    font-family: playfairDisplayItalic;
    src: 
        url('../fonts/playfairdisplay-italic-webfont.woff') format('woff2'),
        url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff'),
        url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
}

@font-face {
    font-family: ubuntuLightRegular;
    src: 
        url('../fonts/ubuntu-light-webfont.woff2') format('woff2'),
        url('../fonts/ubuntu-light-webfont.woff') format('woff'),
        url('../fonts/Ubuntu-Light.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
}

body {
    margin: 0;
    font-family: 'playfairDisplayRegular';
    font-size: 14px;
    color: #626262;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    width: 1063px;
    flex-wrap: wrap;
}

.menu {
    width: 100%;
    text-transform: uppercase;
    display: flex;
    padding: 70px 0;
}

.logo {
    font-family: 'inconsolataRegular';
    font-size: 30px;
    color: black;
}

.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-top: 7px;
}

.navbar * {
    padding-left: 100px;
}

img {
    width: 100%;
}

section {
    width: 1063px;
}

h3 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'ubuntuLightRegular';
    font-size: 14px;
    color: #b4ad9e;
}

h2 {
    font-size: 30px;
}

.descriptions {
    box-sizing: border-box;
    padding: 80px 100px 63px 100px;
}

b {
    font-family: 'playfairDisplayBlack';
}

.descriptions img {
    padding-top: 62px;
}

.quote {
    font-family: 'playfairDisplayItalic';
    padding: 54px 20px 32px 20px;
}

.share {
    box-sizing: border-box;
    padding: 0 100px 76px 100px;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-family: 'ubuntuLightRegular';
}

.share i {
    padding-left: 24px;
}

.posts {
    width: 100%;
    height: 435px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
}

.postsContent, .footer {
    box-sizing: border-box;
    width: 1063px;
    padding: 70px 80px 86px 80px;
    display: flex;
    justify-content: space-between;
}

.description {
    text-transform: uppercase;
    font-family: 'ubuntuLightRegular';
    color: #b4ad9e;
}

footer {
    height: 100px;
    width: 100%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
}

.left span {
    color: black;
    padding-right: 18px;
}

.right {
    justify-self: flex-end;
}

.right span {
    color: black;
}

.right i {
    padding-left: 18px;
}