body, html{
    margin:0;
    padding:0;
}

.image {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 15px;
    padding: 15px;
}

img {
    width: 100%;
    display: block;
}

@media (max-width: 568px) {
    body {
        background: red;
    }

    .image {
        grid-template-columns: auto;
        padding: 20px;
    }
}