li, ol, ul {
    list-style: none;
}

ul {
    padding: 8px 0 12px;
    list-style: none;
    height: 100%;
    margin: 0;
}

li {
    display: block;
    white-space: nowrap;
    width: 172px;
    font-family: Roboto-Regular;
    font-size: 12px;
    line-height: 27px;
    color: #757575;
    cursor: pointer;
    box-sizing: content-box;
}

a {
    padding-left: 8px;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
}

li:hover {
    background: #eceff1;
    color: #f36d00;
}