@import "./header.css";
@import "./footer.css";
@font-face {
    font-family: 'NunitoBold';
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NunitoExtraBold';
    src: url('../fonts/Nunito-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NunitoSemiBold';
    src: url('../fonts/Nunito-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

input:focus,
button:focus {
    outline: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    background-color: #ECECEC;
    font-size: 1.4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    font-family: "NunitoSemiBold";
}

body > * {
    width: 100%;
}

section.body {
    flex-grow: 1;
    overflow-y: auto;
    font-size: 2rem;
}

section.body input[type="radio"],
section.body input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

img.flag-icon {
    max-width: 20px;
    margin-bottom: 5px;
}

.black {
    color: #393E46;
}

.black-background {
    background-color: #393E46;
}

.red {
    color: #F13E4B;
}

.red-button button {
    background-color: #F13E4B;
    color: white;
}

.green {
    color: #5AB37E;
}

.green-button button {
    background-color: #5AB37E;
    color: white;
}

button {
    border-radius: 20px;
    padding: 5px 20px;
    font-family: "NunitoExtraBold";
    cursor: pointer;
}