@import "./common.css";

section.banner {
    height: 450px;
    width: 100%;
    background-image: url('../images/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.banner div.header {
    height: auto;
}

section.banner div.header nav a .logo {
    padding: 20px 0 0;
    height: 190px;
}

section.banner div.quote {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Sriracha;
}

section.banner div.quote div.title {
    font-size: 6rem;
}

section.banner div.quote div.description {
    font-size: 3.2rem;
}

section.body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 35px 0;
}

section.body div.body {
    width: 1265px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

section.body div.body div.main {
    background-color: white;
    padding: 29px 200px 50px;
    border-radius: 10px;
    line-height: 19px;
    flex-grow: 1;
    min-width: 411px;
}

section.body div.body div.sub {
    background-color: white;
    padding: 29px 32px 30px 29px;
    border-radius: 10px;
    font-family: "NunitoSemiBold";
    font-size: 1.4em;
    max-width: 300px;
}

#articles {
    display: flex;
    flex-direction: column;
}

#articles div.article {
    box-sizing: content-box;
    padding: 40px 0;
    display: flex; 
    gap: 12px;
    font-family: NunitoBold;
    border-bottom: 1px solid #393E46;
}

#articles div.article img {
    max-height: 120px;
    border-radius: 10px;
}

#articles div.article div.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

#articles div.article div.info a {
    font-size: 3rem;
    line-height: 35px;
}

@media (max-width: 1080px) {
    section.banner {
        height: 380px;
    }

    section.body div.body div.main {
        padding: 20px 100px 50px;
    }
}

@media (max-width: 884px) {
    #articles div.article {
        flex-direction: column;
        align-items: center;
    }
    #articles div.article img {
        max-height: 160px;
    }

    #articles div.article div.info {
        align-items: center;
    }

    section.body div.body div.sub {
        display: none;
    }

    #articles div.article {
        margin: 0 40px;
    }
}

@media (max-width: 640px) {
    section.banner div.quote div.title {
        font-size: 4rem;
    }

    section.banner div.quote div.description {
        font-size: 2rem;
    }

    section.body div.body div.main {
        padding: 20px 0 50px;
        min-width: unset;
    }
}