.contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContain {
  overflow: hidden;
}

.sliderContain .slider {
	width:400%;
	position: relative;
}

.sliderContain .slider img {
	width: 25%;
  float: left;
  flex-grow: 1;
}

.buttonAllow {
  cursor: pointer;
  padding: 0px 30px;
}

.button {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button i {
  font-size: 100px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page div {
  cursor: pointer;
  margin: 20px 20px;
  font-size: 20px;
  background: black;
  color: white;
  padding: 10px;
}