.contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderContain {
  overflow: hidden;
}

.sliderContain .slider {
	width:400%;
	position: relative;
}

.sliderContain .slider img {
	width: 25%;
	float: left;
}

.buttonAllow {
  cursor: pointer;
  margin: auto 50px;
}

.button {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button i {
  font-size: 100px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.page div {
  cursor: pointer;
  margin: 50px 50px 0px 0px;
  font-size: 20px;
  background: black;
  color: white;
  padding: 10px;
}