body, html{
    margin:0;
    padding:0;
}

.body {
    display: flex;
}

.header {
    width: 100%;
    height: 30px;
}

.side {
    width: 20%;
}

.image {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(3, auto);
    grid-gap: 15px;
}

img {
    width: 100%;
    display: block;
}

@media (max-width: 568px) {
    body {
        background: red;
    }

    .image {
        grid-template-columns: auto;
    }

    .side {
        width: 20px;
    }
}