html, body {
    height: 100%;
    font-family: 'Baloo Bhai', cursive;
    font-size: 22px;
    color: #393D46;
    background-color: #F6F4F5;
    display: flex;
    flex-direction: column;
}

.header {
    color: #F6F4F5;
    background-color: #393D46;
    display: flex;
    align-items: center;
}

.header img {
    width: 150px;
    padding: 20px;
    margin-right: auto;
}

.header .blank {
    width: 150px;
    padding: 20px;
}

.header .title {
    flex-grow: 1;
    font-family: 'Lobster', cursive;
    font-size: 250%;
    text-align: center;
    min-width: 250px;
}

.body {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quizNum {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-top: -5%;
}

.quizNum div:not(.submit) {
    border-radius: 50%;
    border:1px solid #393D46;
    width: 30px;
    text-align: center;
}

.first {
    background-color: #393D46;
    color: #F6F4F5;
}

.submit {
    width: 150px;
    text-align: center;
}

.submit:hover{
    background-color: #393D46 !important;
    color: #F6F4F5 !important;
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 60%;
    min-width: 500px;
    margin-top: -15%;
}

.quiz div {
    border: 1px solid #393D46;
    padding: 15px;
}

div.question {
    font-size: 25px;
    padding: 20px;
    word-wrap: break-word;
}