@import "./common.css";
section.body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 35px 0;
}

section.body>div {
    width: 1265px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

section.body>div section.main {
    background-color: white;
    padding: 29px 32px 50px 29px;
    border-radius: 10px;
    font-family: "NunitoSemiBold";
    font-size: 1.4em;
    line-height: 19px;
    margin-right: 5px;
}

section.body>div section.main div.orientation a,
section.body>div section.main div.orientation a:hover,
section.body>div section.main div.orientation a:active,
section.body>div section.main div.orientation a:visited {
    color: #0058FD;
    text-decoration: none;
}

section.body>div section.main div.orientation a {
    border-bottom: 1px solid #0058FD;
    font-family: "NunitoExtraBold";
}

section.body>div section.main div.articalMainMenu-title {
    font-size: 2.4em;
    line-height: 36px;
    font-family: "NunitoExtraBold";
    margin-top: 12px;
    margin-bottom: 37px;
}

section.body>div section.main div.articalSubsMenu div.articalSubMenu-item {
    margin-bottom: 48px;
}

section.body>div section.main div.articalSubsMenu div.articalSubMenu-item:last-child {
    margin: 0;
}

section.body>div section.main div.articalSubsMenu div.articalSubMenu-item hr {
    margin-bottom: 40px;
    border: 1px solid #AFAFAF;
}

section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals {
    width: 100%;
    display: flex;
}

section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals div.articalSubMenu-mainArtical {
    display: flex;
    align-items: flex-start;
}

section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals div.articalSubMenu-mainArtical img {
    cursor: pointer;
}

section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals div.articalSubMenu-mainArtical div.articalSubMenu-description {
    margin-left: 20px;
    max-width: 525px;
    word-wrap: break-word;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals div.articalSubMenu-mainArtical div.articalSubMenu-description div.articalSubMenu-descriptionTitle {
    font-size: 1.6em;
    line-height: 24px;
    font-family: "NunitoExtraBold";
    color: #0058FC;
    cursor: pointer;
}

section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals div.articalSubMenu-mainArtical div.articalSubMenu-description div.articalSubMenu-descriptionOwner {
    font-family: "NunitoExtraBold";
    margin-bottom: 19px;
}

section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals div.articalSubMenu-mainArtical div.articalSubMenu-description div.more {
    margin-top: 8px;
    font-family: "NunitoExtraBold";
    color: #0058FC;
    cursor: pointer;
}

section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals div.articalSubMenu-mainArtical div.articalSubMenu-description div.more:hover {
    text-decoration: underline;
}

section.body>div section.side>div {
    background-color: white;
    border-radius: 10px;
    padding: 29px 10px 36px 18px;
}

section.body>div section.side div.other {
    font-family: "NunitoExtraBold";
    font-size: 1.4em;
    line-height: 19px;
    color: #0058FC;
}

section.body>div section.side div.other div.other-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
}

section.body>div section.side div.other div.other-menu {
    display: flex;
    flex-direction: column;
}

section.body>div section.side div.other div.other-menu div.other-item {
    margin-bottom: 16px;
    display: flex;
}

section.body>div section.side div.other div.other-menu div.other-item:last-child {
    margin: 0;
}

section.body>div section.side div.other div.other-menu div.other-item img {
    cursor: pointer;
}

section.body>div section.side div.other div.other-menu div.other-item div.other-item-description {
    max-width: 130px;
    margin-left: 7px;
}

section.body>div section.side div.other div.other-menu div.other-item div.other-item-description a,
section.body>div section.side div.other div.other-menu div.other-item div.other-item-description a:hover,
section.body>div section.side div.other div.other-menu div.other-item div.other-item-description a:active,
section.body>div section.side div.other div.other-menu div.other-item div.other-item-description a:visited {
    color: #0058FD;
    text-decoration: none;
}

@media (max-width: 1080px) {
    section.body>div {
        flex-direction: column;
        align-items: center;
    }
    section.body>div section.main {
        margin-right: 0;
        margin-bottom: 20px;
    }
    section.body>div section.main div.articalSubsMenu div.articalSubMenu-item {
        margin-bottom: 30px;
    }
    section.body>div section.side>div {
        margin-bottom: 20px;
    }
    section.body>div section.side div.other div.other-menu {
        flex-direction: row;
        flex-wrap: wrap;
    }
    section.body>div section.side div.other div.other-menu div.other-item {
        margin-bottom: 14px;
        margin-right: 20px;
    }
    section.body>div section.side div.other div.other-menu div.other-item:last-child {
        margin: 0;
    }
}

@media (max-width: 991px) {
    section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals {
        flex-direction: column;
    }
    section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals div.articalSubMenu-mainArtical {
        flex-direction: column;
    }
    section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals div.articalSubMenu-mainArtical img {
        width: 100%;
    }
    section.body>div section.main div.articalSubsMenu div.articalSubMenu-item div.articalSubMenu-articals div.articalSubMenu-mainArtical div.articalSubMenu-description {
        margin: 10px 0 16px 0;
        max-width: 100%;
    }
}