@import "./header.css";
@import "./footer.css";
@font-face {
    font-family: 'NunitoBold';
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NunitoExtraBold';
    src: url('../fonts/Nunito-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NunitoSemiBold';
    src: url('../fonts/Nunito-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

input:focus {
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #ECECEC;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.show-flex {
    display: flex !important;
}

.blueBackground {
    background-color: #0059FF;
}

.blueColor-header {
    color: #254EDB !important;
}

.greenBorder {
    border-color: #B2D430 !important;
}

.redBorder {
    border-color: #F13E4B !important;
}

.redColor {
    color: #F13E4B !important;
}