@font-face {
    font-family: 'NunitoBold';
    src: 
        url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NunitoExtraBold';
    src: 
        url('../fonts/Nunito-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'NunitoSemiBold';
    src: 
        url('../fonts/Nunito-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

input:focus {
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #ECECEC;

}

header {
    width: 100%;
    height: 124px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1265px;
    flex-grow: 1;
}

.whiteLogo {
    display: none;
}

header > nav div.nav-menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

header > nav div.nav-item {
    text-transform: uppercase;
    color: #393E46;
    font-family: 'NunitoExtraBold';
    font-size: 1.8rem;
    line-height: 22px;
    margin-left: 60px;
    padding: 20px 0;
    cursor: pointer;
}

div.grow {
    flex-grow: 1;
}

div.dropdown {
    display: flex;
    align-items: center;
}

div.dropdown svg {
    display: flex;
    margin-left: 8px;
}

header > nav div.nav-item:hover {
    color: #254EDB;
}

header > nav div.nav-item div.title {
    display: flex;
    align-items: center;
}

header > nav div.nav-item:hover svg.hoverIcon {
    display: block;
}

header > nav div.nav-item svg.hoverIcon,
header > nav div.nav-item svg.activeIcon,
header > nav div.nav-item:hover svg.defaultIcon,
.activeIcon-hamburger {
    display: none;
}

header > nav div.nav-item div.search-input-article {
    display: none;
}

header > nav div.nav-item ul.nav-subnav {
    list-style: none;
    color: white;
    position: absolute;
    width: 996px;
    height: 50px;
    left: -200px;
    top: 55px;
    background: #0059FF;
    border-radius: 10px;
    display: none;
    padding: 0 15px;
}

header > nav div.nav-item ul.nav-subnav.adopt {
    left: -350px;
    width: 916px;
}

#nav-item-search-active {
    display: none;
    position: absolute;
    width: 950px;
    height: 124px;
    left: -175px;
    padding-left: 20px;
    background: #0059FF;
    color: white;
    cursor: default;
}

#nav-item-search-active img {
    cursor: pointer;
}

#nav-item-search-active label.search-title {
    margin-left: 60px;
    cursor: pointer;
}

#nav-item-search-active input {
    width: 488px;
    background-color: #0059FF;
    border-bottom: 2px solid white;
    color: white;
}

#nav-item-search-active svg {
    margin-left: 18px;
}

header > nav div.nav-item ul.nav-subnav div.background-css-1 {
    position: absolute;
    width: 330px;
    height: 50px;
    left: -15px;
    background: #091A7A;
    border-radius: 10px 8px 8px 10px;
}

header > nav div.nav-item ul.nav-subnav div.background-css-2 {
    position: absolute;
    background-color: #091A7A;
    left: 298px;
    top: 2px;
}
header > nav div.nav-item ul.nav-subnav div.background-css-2:before,
header > nav div.nav-item ul.nav-subnav div.background-css-2:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
header > nav div.nav-item ul.nav-subnav div.background-css-2,
header > nav div.nav-item ul.nav-subnav div.background-css-2:before,
header > nav div.nav-item ul.nav-subnav div.background-css-2:after {
	width:  31px;
	height: 31px;
	border-top-right-radius: 60%;
}

header > nav div.nav-item ul.nav-subnav div.background-css-2 {
	transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
}
header > nav div.nav-item ul.nav-subnav div.background-css-2:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
header > nav div.nav-item ul.nav-subnav div.background-css-2:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

header > nav div.nav-item ul.nav-subnav div.background-css-3 {
    position: absolute;
    width: 232px;
    height: 50px;
    left: 700px;

    background: #1939B7;
    border-radius: 0px 10px 10px 0px;
}

header > nav div.nav-item ul.nav-subnav label.decription {
    position: absolute;
    line-height: 50px;
    left: 0px;
    z-index: 1000;
    font-size: 1.6rem;
}

header > nav div.nav-item ul.nav-subnav div.search-div-location {
    height: 50px;
    position: absolute;
    line-height: 50px;
    left: 370px;
    z-index: 1000;
    font-size: 1.6rem;
    color: white;
}

#search-location {
    width: 300px;
    background: #0059FF;
    line-height: 1.6rem;
    color: white;
    border-bottom: 2px solid white;
}

#search-location::placeholder {
    color: white;
}

header > nav div.nav-item ul.nav-subnav div.search-button-location {
    height: 50px;
    position: absolute;
    left: 720px;
    z-index: 1000;
    color: white;
    display: flex;
    align-items: center;
    text-transform: none;
}

header > nav div.nav-item ul.nav-subnav div.search-button-location svg{
    margin-right: 15px;
}

header > nav div.nav-item ul.nav-subnav > li {
    line-height: 50px;
    position: relative;
    display: inline-block;
    margin-right: 80px;
}

header > nav div.nav-item ul.nav-subnav > li:last-child {
    margin-right: 0;
}

header > nav div.nav-item ul.nav-subnav li ul.subnav{
    display: none;
}

header > nav div.nav-item ul.nav-subnav li:hover ul.subnav {
    display: block;
    list-style: none;
    position: absolute;
    text-transform: none;
    width: 250px;
    font-family: 'NunitoSemiBold';
    font-size: 1.6rem;
    line-height: 19px;
    top: 50px;
    left: -14px;
    padding: 0 14px;
    background-color: #6690FF;
    border-radius: 0px 0px 10px 10px;
}

header > nav div.nav-item ul.nav-subnav li ul.subnav li {
    padding: 12px 0;
}

header > nav div.nav-item ul.nav-subnav li ul.subnav li:hover {
    text-decoration: underline;
}

header > nav div.hamburger-menu {
    display: none;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.blueBackground {
    background-color: #0059FF;
}

.blueColor {
    color: #254EDB !important;
}

/* section {
    background-color: tomato;
    width: 100%;
    height: 2000px;
} */

@media (max-width: 991px) {
    header > nav div.hamburger-menu {
        display: flex;
        justify-content: flex-end;
    }

    header > nav div.nav-menu:not(.hamburger-menu) {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 100%;
        top: 124px;
        left: 0;
        padding: 0 20px;
        background-color: white;
    }

    header > nav div.nav-item {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }    

    header > nav div.nav-item.adopt > div.title svg {
        display: none;
    }

    header > nav div.nav-item:hover svg {
        display: none;
    }

    header > nav div.nav-item ul.nav-subnav {
        position: relative;
        width: auto;
        left: auto;
        top: auto;
        background: white;
        color: black;
        display: none;
        padding: 0;
        height: auto;
    }

    header > nav div.nav-item ul.adopt {
        display: none;
    }

    header > nav div.nav-item ul.nav-subnav li {
        display: block;
    }

    header > nav div.nav-item ul.nav-subnav li:hover ul.subnav {
        display: none;
    }


    #nav-item-search > svg {
        display: none;
    }

    header > nav div.nav-item div.search-input-article {
        display: flex;
        align-items: center;
        border: 2px solid #091A7A;
        border-radius: 8px;
        max-width: 250px;
        margin: auto;
        padding: 8px 8px;
        box-sizing: content-box;
    }

    header > nav div.nav-item div.search-input-article input {
        flex-grow: 1;
        margin-right: 5px;
        border-bottom: 1px solid grey;
    }

    header > nav div.nav-item div.search-input-article svg {
        justify-self: flex-end;
        display: inline;
    }

    header > nav div.nav-item div.search-input-article *:last-child {
        border-left: none;
    }
}
